apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: view-pod
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - view
  - list
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - view
  - list

